doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/custom40.min.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')

  body
    block content
